[submodule "application/bimsurfer"]
	path = application/geobim_viewer/bimsurfer
	url = https://github.com/AECgeeks/BIMsurfer2
[submodule "application/GEOBIM_Tool"]
	path = application/GEOBIM_Tool
	url = https://github.com/jliempt/GEOBIM_Tool.git
